@import url('./header.css');
@import url('./title.css');
@import url('./form-styles.css');

body {
  margin: 0px;
  background-color: rgb(244,242,237);
}

/* -- TO SEPERATE AND REFACTOR -- */

/* entry item grid layout */
#entry-item-container {
  width: 900px;
  margin: auto;
}


.entry-item {
  display: grid;
  grid-template-columns: 1fr 1fr 12fr;
}

/* start month/year */
.month-banner {
  background: url(../assets/sign.svg);
  background-size: 100px;
  background-repeat: no-repeat;
}

.entry-item-start-month-year-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  grid-column: 1;
  grid-row: 1;
  width: 100px;
}

.entry-item-start-month-year-container span {
  position: relative;
  top: 40px;
  left: 14px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(244,242,237);
}

.entry-item-start-month {
  font-size: 20px;
}

.entry-item-start-year {
  font-size: 12px;
}

/* start day */
.entry-item-start-day-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  grid-column: 2;
  grid-row: 1;
  width: 50px;
  color: rgb(31,81,63);
}

.entry-item-start-day-container span { 
  position: relative;
  top: 43px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px; 
}

/* end month/year */
.entry-item-end-month-year-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  grid-column: 1;
  grid-row: 2;
  min-height: 100px;
  /* background: url(../assets/sign.svg);
  background-size: 100px;
  background-repeat: no-repeat; */
}

.entry-item-end-month-year-container span {
  position: relative;
  bottom: 23px;
  left: 14px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(244,242,237);
}

.entry-item-start-month {
  font-size: 20px;
}

.entry-item-start-year {
  font-size: 12px;
}

/* end day */
.entry-item-end-day-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  grid-column: 2;
  grid-row: 2;
  width: 50px;
  color: rgb(31,81,63);
}

.entry-item-end-day-container span {
  position: relative;
  bottom: 23px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px; 
}

/* row 1 */
.entry-item-row1 {
  grid-column: 3;
  grid-row: 1;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(82,79,77);
}

.entry-item-row1 h1 {
  margin-top: 10px;
  font-size: 28px;
}

.entry-item-row1 h2 {
  margin-bottom: 5px;
  font-size: 20px;
}

.entry-item-row1 h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

/* row 2 */
.entry-item-row2 {
  grid-column: 3;
  grid-row: 2;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(82,79,77);
}

.entry-item-row2 p {
  margin-top: 10px;
}

.entry-item-row2 small {
  font-size: 10px;
}

/* entry buttons */
.entry-buttons {
  grid-row: 3;
}

/* divider */
.entry-item-divider {
  grid-column: 1 / 4;
  grid-row: 4;
  width: 100%;
  border-top: 0.5px solid rgb(31,81,63);
}

/* confirm delete prompt */
.prompt-bg {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
}

.prompt {
  display: flex;
  flex-direction: column;
  align-items: end;
  background-color: rgb(244,242,237);
  border-radius: 10px;
  padding: 10px;
}

.cancel {
  position: relative;
  right: 25px;
  top: 10px;
  fill: rgb(175,175,175);
  transition: fill 0.2s;
}

.cancel:hover {
  fill: rgb(100,100,100);
  cursor: pointer;
}

.delete-buttons {
  display: flex;
}

.delete-buttons button {
  padding: 7px 15px;
  margin: 5px 5px;
  background-color: transparent;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.prompt p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}